*{
  margin: 0;
  padding: 0;
}

.flex{
  display: flex;
}
.navbar {
  background-color: #3b5998;
  padding: 1rem 2rem;
  border-bottom: 1px solid #c4ccde;
  box-shadow: 0px 2.9825px 7.45px rgba($color: #000000, $alpha: 0.01);
}

.sidebar {
  width: 14rem;
  height: calc(100vh - 52px);
  border-right:1px solid #c4ccde;
}


ul{
  list-style: none;
  padding: 1rem;
li{
  margin-bottom: 1rem;
  a{
    text-decoration: none;
  }
}
}

.box{
  width: 800px;
  align-items: center;
  justify-content: center;
  border: 5px solid blue;
  padding: 50px;
  margin: 20px;
}
.container{
  justify-content: center;
  align-items: center;
}

.cardContainer{
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
}

.divContainer{
  padding: 10px;
}

h2{
  color: red;
  margin-top: 10px;
}

.button {
  align-items: center;
  justify-content: center;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  flex: 1;
}

.formStyle{
  text-align: center;
}

.inputs{
  padding-top: 5px;
  padding-bottom: 5px;
}
.title{
  text-align: center;
   color: blue,
}


